
  <br>
  <div align="center">
    <h2 style="color:  #f1f1f1">Les potins de THP Strasbourg</h2>
  </div>
  <br>
  <% for gossip in Gossip.all %>
  <div align="center">
    <div class="card text-center" style="width: 30rem;">
      <div class="card-header">
        <h4><%= "#{gossip.author}" %></h4>
      </div>
        <div class="card-body">
            <p class="card-text"><%= "#{gossip.content}" %></p>
            <a href=<%= "/gossips/#{gossip.id}" %> class="btn btn-primary">Plus de détails</a>
        </div>
      </div>
      <br>
    </div>
<% end %>
