<div class="container contact-form">
            <div class="contact-image">
                <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
            </div>
            <form method="post">
                <h3>Merci pour votre message !</h3>
               <div align="center">
                        <a class="btn btn-primary" href="/" role="button">Retourner à la page d'accueil</a>
                </div>
            </form>
</div>
