<div align="center" style="margin-top:175px">
  <br>
  <h2 style="color:  #f1f1f1">Bienvenue sur The Gossip Project !</h2>
  <br>
    <a class="btn btn-primary" href="/gossips" role="button">Voir la liste des potins</a>
</div>
