<div align="center" style="margin-top:175px">
  <br>
  <h2 style="color:  #f1f1f1">Made with ❤️ in Strasbourg !</h2>
  <p style="color:  #f1f1f1">Notre team : @OwwllMan, @zOmegad, @Runefire32, @BrokenPirate et @mxrch (moi-même).
</div>
